# NER using SciKitLearn Library

In [ ]:
from google.colab import drive
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#AT/TA skip
drive.mount('/content/drive')

In [ ]:
#AT/TA skip
%cd  /content/drive/Shared\ drives/256Group10/ASKus

In [2]:
#source https://towardsdatascience.com/named-entity-recognition-and-classification-with-scikit-learn-f05372f07ba2

import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [4]:
train = pd.read_csv('https://raw.githubusercontent.com/ajag408/ASKus/main/data/train.csv')
train.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

,Id,pub_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,national education longitudinal study

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

['ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI'
 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI' 'ADNI']
['2019-nCoV complete genome sequences', '2019-nCoV genome sequence', '2019-nCoV genome sequences', 'ADNI', 'ANSS Comprehensive Catalog', 'ANSS Comprehensive Earthquake Catalog', 'ARMS Farm Financial and Crop Production Practices', 'Advanced National Seismic System (ANSS) Comprehensive Catalog (ComCat)', 'Advanced National Seismic System Comprehensive Catalog', 'Aging Integrated Database', 'Aging Integrated Database (AGID)', 'Agricultural Resource Management Survey', 'Agricultural Resources Management Survey', "Alzheimer's Disease Neuroimaging Initiative (ADNI)", 'Alzheimers Disease Neuroimaging Initiative', 'Baccalaureate and Beyond', 'Baccalaureate and Beyond Longitudinal Study', 'Baltimore Longitudinal Study of Aging', 'Baltimore Longitudinal Study of Aging (BLSA)', 'Beginning Postsecondary Student', 'Beginning Postsecondary Students', 'Beginning Postsecondary Students Longitudinal Study', 'CAS COVID-19 antiviral candidate compounds data', 'CAS COVID-19 antiviral candidate compounds data set', 'CAS COVID-19 antiviral candidate compounds dataset', 'CCCSL', 'COVID Open Research Dataset', 'COVID-19 Death data', 'COVID-19 Image Data Collection', 'COVID-19 Open Research Data', 'COVID-19 Open Research Dataset', 'COVID-19 Open Research Dataset (CORD-19)', 'COVID-19 genome sequence', 'COVID-19 genome sequences', 'Census of Agriculture', 'Characterizing Health Associated Risks, and Your Baseline Disease In SARS-COV-2', 'Characterizing Health Associated Risks, and Your Baseline Disease In SARS-COV-2 (CHARYBDIS)', 'Coastal Change Analysis Program', 'Coastal Change Analysis Program land cover', 'Common Core of Data', 'Complexity Science Hub COVID-19 Control Strategies List', 'Complexity Science Hub COVID-19 Control Strategies List (CCCSL)', 'Early Childhood Longitudinal Study', 'Education Longitudinal Study', 'FFRDC Research and Development Survey', 'High School Longitudinal Study', 'Higher Education Research and Development Survey', 'IBTrACS', 'International Best Track Archive for Climate Stewardship', 'JH-CROWN registry', 'NASS Census of Agriculture', 'NCES Common Core of Data', 'NCSES Survey of Doctorate Recipients', 'NCSES Survey of Graduate Students and Postdoctorates in Science and Engineering', 'NOAA C-CAP', 'NOAA International Best Track Archive for Climate Stewardship', 'NOAA National Water Level Observation Network', 'NOAA Optimum Interpolation Sea Surface Temperature', 'NOAA Sea, Lake, and Overland Surges from Hurricanes', 'NOAA Tide Gauge', 'NOAA World Ocean Database', 'NOAA storm surge inundation', 'NOAA tidal station', 'NOAA tide station', 'NOAA water level station', 'NSF FFRDC Research and Development Survey', 'NSF Higher Education Research and Development Survey', 'NSF Survey of Earned Doctorates', 'NSF Survey of Graduate Students and Postdoctorates in Science and Engineering', 'NSF Survey of Industrial Research and Development', 'NSF Survey of Science and Engineering Research Facilities', 'National Assessment of Education Progress', 'National Center for Education Statistics Common Core of Data', 'National Center for Science and Engineering Statistics Higher Education Research and Development Survey', 'National Center for Science and Engineering Statistics Survey of Doctorate Recipients', 'National Center for Science and Engineering Statistics Survey of Earned Doctorates', 'National Center for Science and Engineering Statistics Survey of Graduate Students and Postdoctorates in Science and Engineering', 'National Center for Science and Engineering Statistics Survey of Industrial Research and Development', 'National Center for Science and Engineering Statistics Survey of Science and Engineering Research Facilities', 'National Education Longitudinal Study', 'National Oceanic and Atmospheric Administration C-CAP', 'National Oceanic and Atmospheric Administration Optimum Interpolation Sea Surface Temperature', 'National Oceanic and Atmospheric Administration World Ocean Database', 'National Science Foundation Higher Education Research and Development Survey', 'National Science Foundation Survey of Doctorate Recipients', 'National Science Foundation Survey of Earned Doctorates', 'National Science Foundation Survey of Graduate Students and Postdoctorates in Science and Engineering', 'National Science Foundation Survey of Industrial Research and Development', 'National Science Foundation Survey of Science and Engineering Research Facilities', 'National Teacher and Principal Survey', 'National Water Level Observation Network', 'National Weather Service (NWS) storm surge risk', 'North American Breeding Bird Survey', 'North American Breeding Bird Survey (BBS)', 'Optimum Interpolation Sea Surface Temperature', 'Our World in Data', 'Our World in Data COVID-19', 'Our World in Data COVID-19 dataset', 'Program for the International Assessment of Adult Competencies', 'RSNA International COVID Open Radiology Database', 'RSNA International COVID-19 Open Radiology Database', 'RSNA International COVID-19 Open Radiology Database (RICORD)', 'Rural-Urban Continuum Codes', 'SARS-CoV-2 complete genome sequence', 'SARS-CoV-2 complete genome sequences', 'SARS-CoV-2 full genome sequence', 'SARS-CoV-2 full genome sequences', 'SARS-CoV-2 genome sequence', 'SARS-CoV-2 genome sequences', 'SLOSH model', 'School Survey on Crime and Safety', 'Sea Surface Temperature - Optimum Interpolation', 'Survey of Doctorate Recipients', 'Survey of Earned Doctorates', 'Survey of Graduate Students and Postdoctorates in Science and Engineering', 'Survey of Industrial Research and Development', 'Survey of Science and Engineering Research Facilities', 'Survey of State Government Research and Development', "The National Institute on Aging Genetics of Alzheimer's Disease Data Storage Site", "The National Institute on Aging Genetics of Alzheimer's Disease Data Storage Site (NIAGADS)", 'Trends in International Mathematics and Science Study', 'USDA Census of Agriculture', 'USGS North American Breeding Bird Survey', 'World Ocean Database', 'genome sequence of 2019-nCoV', 'genome sequence of COVID-19', 'genome sequence of SARS-CoV-2', 'genome sequences of 2019-nCoV', 'genome sequences of COVID-19', 'genome sequences of SARS-CoV-2']

In [28]:
train.groupby('dataset_label').size().reset_index(name='counts')

                           dataset_label  counts
0    2019-nCoV complete genome sequences       1
1              2019-nCoV genome sequence       7
2             2019-nCoV genome sequences       4
3                                   ADNI    3673
4             ANSS Comprehensive Catalog      15
..                                   ...     ...
125          genome sequence of COVID-19       7
126        genome sequence of SARS-CoV-2     222
127        genome sequences of 2019-nCoV      12
128         genome sequences of COVID-19       8
129       genome sequences of SARS-CoV-2     158

[130 rows x 2 columns]